/* Algemein */


body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bgImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* classes */

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}



.title {
    z-index: 1;
}
.title h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: black;
}

/* animations */