/* IDs */

#bgImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Classes */


.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 8vh;
}


.speedSetting {
    display: grid;
    justify-content: center;
    text-align: left;
    transform: translateX(-25px);
}

.speedSetting p {
    transform: translateY(-30px);
}

.speedSetting input {
    transform: translateY(-20px);
}

.speedInput {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
}
.speedInput:hover {
    opacity: 1;
}
.speedInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}
.speedInput::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 0;
    background: black;
    cursor: pointer;
}